<h1> ALL BUSINESSES <h1>
<table>
  <thead>
    <tr>
    <td>Business Name</td>
    <tr>
  </thead>
  <tbody>
    <%@businesses.each do |business|%>
      <tr>
        <td class="name"><%= business.name %></td>    
        <td><%= link_to '<button type="button">Add Job</button>'.html_safe, new_job_path %></td>
      </tr> 
    <%end%>
  </tbody>
</table>
